<% content_for :title do %>Availability of Membership Platform Capabilities<% end %>

<div class="gridster">
  <ul>

    <!-- ALS Global -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc.memb.ft.com/__health', '_blank');">
      <div data-id="alsglobal" data-view="Availability" data-title="Commerce" data-text="Access Licence Svc" data-moreinfo="https://acc-licence-svc.memb.ft.com/__health"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014224', '_blank');">
      <div data-id="2014224" data-view="Number" data-title="Access Licence Svc" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>

    <!-- ALS EU -->
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc-euwest1-prod.memb.ft.com/__health', '_blank');">
      <div data-id="alseu" data-view="Availability" data-title="Commerce" data-text="Access Licence Svc EU" data-moreinfo="https://acc-licence-svc-euwest1-prod.memb.ft.com/__health"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014311', '_blank');">
      <div data-id="2014311" data-view="Number" data-title="Access Licence Svc EU" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>

    <!-- ALS US -->
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc-useast1-prod.memb.ft.com/__health', '_blank');">
      <div data-id="alsus" data-view="Availability" data-title="Commerce" data-text="Access Licence Svc US" data-moreinfo="https://acc-licence-svc-useast1-prod.memb.ft.com/__health"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014309', '_blank');">
      <div data-id="2014309" data-view="Number" data-title="Access Licence Svc US" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
  </ul>
</div>