<% content_for :title do %>Availability of Membership Platform Capabilities<% end %>

<div class="gridster">
  <ul>

    <!-- ALS Check -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109418', '_blank');">
      <div data-id="als" data-view="Availability" data-title="Access Licence Svc" data-text="Get Access Licence" data-moreinfo="http://stats.pingdom.com/56q7ie6hfq8y/2109418"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109418', '_blank');">
      <div data-id="2109418" data-view="Number" data-title="Get Access Licence" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109418', '_blank');">
      <div data-id="2109418resp" data-view="Number" data-title="Get Access Licence" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- Offer Api Check -->
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1694251', '_blank');">
      <div data-id="offerapi" data-view="Availability" data-title="Offer Api" data-text="Get Offer by Id" data-moreinfo="http://stats.pingdom.com/56q7ie6hfq8y/1694251"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1694251', '_blank');">
      <div data-id="1694251" data-view="Number" data-title="Get Offer by Id" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1694251', '_blank');">
      <div data-id="1694251resp" data-view="Number" data-title="Get Offer by Id" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- AcqContext Check-->
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109444', '_blank');">
      <div data-id="acs" data-view="Availability" data-title="Acquisition Context Svc" data-text="Get Acquisition Context" data-moreinfo='http://stats.pingdom.com/56q7ie6hfq8y/2109444'></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109444', '_blank');">
      <div data-id="2109444" data-view="Number" data-title="Get Acquisition Context" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109444', '_blank');">
      <div data-id="2109444resp" data-view="Number" data-title="Get Acquisition Context" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- Redeem Token Check -->
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2110970', '_blank');">
      <div data-id="rts" data-view="Availability" data-title="Redeem Token Svc" data-text="Get Redeemable Token" data-moreinfo='http://stats.pingdom.com/56q7ie6hfq8y/2110970'></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2110970', '_blank');">
      <div data-id="2110970" data-view="Number" data-title="Get Redeemable Token" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2110970', '_blank');">
      <div data-id="2110970resp" data-view="Number" data-title="Get Redeemable Token" data-moreinfo="Last 7 days average uptime" data-suffix="ms"></div>
    </li>
    <!-- Subs Api Check -->
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2160233', '_blank');">
      <div data-id="subs" data-view="Availability" data-title="Get Subscriptions By User" data-text="Get Subscriptions" data-moreinfo='http://stats.pingdom.com/56q7ie6hfq8y/2160233'></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2160233', '_blank');">
      <div data-id="2160233" data-view="Number" data-title="Get Subscriptions" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2160233', '_blank');">
      <div data-id="2160233resp" data-view="Number" data-title="Get Subscriptions" data-moreinfo="Last 7 days average uptime" data-suffix="ms"></div>
    </li>
    <!-- user-details-svc check -->
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2275954', '_blank');">
      <div data-id="uds" data-view="Availability" data-title="User Details Svc" data-text="Get User Details" data-moreinfo='http://stats.pingdom.com/56q7ie6hfq8y/2275954'></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2275954', '_blank');">
      <div data-id="2275954" data-view="Number" data-title="Get User Details" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2275954', '_blank');">
      <div data-id="2275954resp" data-view="Number" data-title="Get User Details" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- payment-mthd-svc check -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2286018', '_blank');">
      <div data-id="pms" data-view="Availability" data-title="Payment Method Svc" data-text="Get Billing Details" data-moreinfo='http://stats.pingdom.com/56q7ie6hfq8y/2286018'></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2286018', '_blank');">
      <div data-id="2286018" data-view="Number" data-title="Get Billing Details" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2286018', '_blank');">
      <div data-id="2286018resp" data-view="Number" data-title="Get Billing Details" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
  </ul>
</div>