<% content_for :title do %>Availability of Membership Platform Capabilities<% end %>

<div class="gridster">
  <ul>

    <!-- ALS Global -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc.memb.ft.com/__health', '_blank');">
      <div data-id="alsglobal" data-view="Availability" data-title="Access Licence Svc" data-text="Good To Go" data-moreinfo="https://acc-licence-svc.memb.ft.com/__health"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014224', '_blank');">
      <div data-id="2014224" data-view="Number" data-title="Access Licence Svc" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014224', '_blank');">
      <div data-id="2014224resp" data-view="Number" data-title="Access Licence Svc" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- ALS EU -->
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc-euwest1-prod.memb.ft.com/__health', '_blank');">
      <div data-id="alseu" data-view="Availability" data-title="Access Licence Svc EU" data-text="Good To Go" data-moreinfo="https://acc-licence-svc-euwest1-prod.memb.ft.com/__health"></div>
    </li>
    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014311', '_blank');">
      <div data-id="2014311" data-view="Number" data-title="Access Licence Svc EU" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014311', '_blank');">
      <div data-id="2014311resp" data-view="Number" data-title="Access Licence Svc EU" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>

    <!-- ALS US -->
    <li data-row="7" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc-useast1-prod.memb.ft.com/__health', '_blank');">
      <div data-id="alsus" data-view="Availability" data-title="Access Licence Svc US" data-text="Good To Go" data-moreinfo="https://acc-licence-svc-useast1-prod.memb.ft.com/__health"></div>
    </li>
    <li data-row="8" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014309', '_blank');">
      <div data-id="2014309" data-view="Number" data-title="Access Licence Svc US" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="9" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2014309', '_blank');">
      <div data-id="2014309resp" data-view="Number" data-title="Access Licence Svc US" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- ALS Check -->
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('https://acc-licence-svc.memb.ft.com/__health', '_blank');">
      <div data-id="als" data-view="Availability" data-title="Access Licence Svc" data-text="Get Access Licence" data-moreinfo="https://acc-licence-svc.memb.ft.com/__health"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109418', '_blank');">
      <div data-id="2109418" data-view="Number" data-title="Get Access Licence" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109418', '_blank');">
      <div data-id="2109418resp" data-view="Number" data-title="Get Access Licence" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- Offer Api Check -->
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('https://offer-api.memb.ft.com/__health', '_blank');">
      <div data-id="offerapi" data-view="Availability" data-title="Offer Api" data-text="Get Offer by Id" data-moreinfo="https://offer-api.memb.ft.com/__health"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1694251', '_blank');">
      <div data-id="1694251" data-view="Number" data-title="Get Offer by Id" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1694251', '_blank');">
      <div data-id="1694251resp" data-view="Number" data-title="Get Offer by Id" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- AcqContext Check-->
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('https://acq-context-svc.memb.ft.com/__health', '_blank');">
      <div data-id="acs" data-view="Availability" data-title="Acquisition Context Svc" data-text="Get Acquisition Context" data-moreinfo='https://acq-context-svc.memb.ft.com/__health'></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109444', '_blank');">
      <div data-id="2109444" data-view="Number" data-title="Get Acquisition Context" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2109444', '_blank');">
      <div data-id="2109444resp" data-view="Number" data-title="Get Acquisition Context" data-moreinfo="Last 7 days average response time" data-suffix="ms"></div>
    </li>
    <!-- Redeem Token Check -->
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('https://redeem-token-svc.memb.ft.com/__health', '_blank');">
      <div data-id="rts" data-view="Availability" data-title="Redeem Token Svc" data-text="Get Redeemable Token" data-moreinfo='https://redeem-token-svc.memb.ft.com/__health'></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2110970', '_blank');">
      <div data-id="2110970" data-view="Number" data-title="Get Redeemable Token" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2110970', '_blank');">
      <div data-id="2110970resp" data-view="Number" data-title="Get Redeemable Token" data-moreinfo="Last 7 days average uptime" data-suffix="ms"></div>
    </li>

  </ul>
</div>